<nav> 
    
    <!-- if user logged in -->
    <%if(loggedInUser && loggedInUserType){%>
        <%if(loggedInUserType == 'Admin'){%>
            <a href="/" class="links">Home</a>
            <a href="/addSubject" class="links">Add Subject</a>
            <a href="/addTeacher" class="links">Add Teacher</a>
            <a href="/addStudent" class="links">Add Student</a>
        <%}%>
        <%if(loggedInUserType == 'Teacher'){%>
            <a href="/addGrade" class="links">Assigne Grade</a>
        <% } %>
        <%if(loggedInUserType == 'Student'){%>
            <a href="/" class="links">Home</a>
            <a href="/myGrades" class="links">My Grades</a>
        <% } %>
        <a href="/logout">Logout</a>
    <% } else {%>
        <a href="/" class="links">Home</a>
        <a href="/login" class="links">Login</a>
    <%}%>
</nav>